[submodule "24_carsharing_accidents"]
	path = 24_carsharing_accidents
	url = https://github.com/ltsipunov/24_car_accidents
[submodule "30_temperature_of_steel"]
	path = 30_temperature_of_steel
	url = https://github.com/ltsipunov/30_steel
[submodule "16_house_price"]
	path = 16_house_price
	url = https://github.com/ltsipunov/16_spark
