[submodule "23_temperature_of_stars"]
	path = 23_temperature_of_stars
	url = https://github.com/ltsipunov/23_stars
[submodule "19_car_price"]
	path = 19_car_price
	url = https://github.com/ltsipunov/19_gradient
[submodule "24_carsharing_accidents"]
	path = 24_carsharing_accidents
	url = https://github.com/ltsipunov/24_car_accidents
[submodule "25_taxi_orders"]
	path = 25_taxi_orders
	url = https://github.com/ltsipunov/25_taxi_orders
[submodule "26_wikishop_toxic_texts"]
	path = 26_wikishop_toxic_texts
	url = https://github.com/ltsipunov/26_text
[submodule "30_temperature_of_steel"]
	path = 30_temperature_of_steel
	url = https://github.com/ltsipunov/30_steel
[submodule "30_temperature_of"]
	path = 30_temperature_of_steel
	url = https://github.com/ltsipunov/30_steel
[submodule "kaggle_car_price_competition"]
	path = kaggle_car_price_competition
	url = https://github.com/ltsipunov/w1_car_price
[submodule "movies_cefr_level"]
	path = movies_cefr_level
	url = https://github.com/ltsipunov/w2_cefr_level
[submodule "24_car_accidents"]
	path = 24_car_accidents
	url = https://github.com/ltsipunov/24_car_accidents
